.card {
  background-color: #2a293b;
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ffc107;
}

.card-title {
  color: #ffc107;
}

.section-title {
  color: #ffc107;
  text-align: center;
  font-weight: bold;
}
